/* Colors */
$white: #fff;
$black: rgba(0, 0, 0, 0.85);

$grayLighter: #f4f4f4;
$gray: #808B97;
$matisse: #1A6B9C;
$firefly: #0F1F2F;
$picton-blue: #49BEED;
$max-content-width: 1400px;

$padding-left-right: 12%;
$padding-left-right-mobile: 5%;

@mixin padding-text {
	padding: 3em $padding-left-right;

	@include bp(md) {
		padding: 2em $padding-left-right-mobile + 4%;
	}
	@include bp(sm) {
		padding: 2em $padding-left-right-mobile + 2%;
	}
	@include bp(xs) {
		padding: 2em $padding-left-right-mobile;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Mixins */
@mixin soft-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

@mixin shallow-soft-shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

@mixin description-article {
	text-align: center;
	font-size: 2em;
	color: #fff;
	font-weight: 200;
	line-height: 1.4em;
}

@mixin title-article {
	color: #fff;
	font-size: 3em;
	font-weight: 100;
	padding: .5em 1em;
}

@mixin article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 1.1em;
}

@mixin bp($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @if $min == xxs {
      @media (max-width: 605px) { @content; }
    }

    @if $min == xs {
      @media (max-width: 767px) { @content; }       // Mobile Devices
    }

    @else if $min == sm {
      @media (min-width: 768px) and (max-width: 992px) { @content; }       // Tablet Devices
    }

    @else if $min == md {
      @media (min-width: 993px) and (max-width: 1199px) { @content; }       // Desktops
    }

    @else if $min == lg {
      @media (min-width: 1200px) and (max-width: 2000px) { @content; }       // Desktops Large
    }

		@else if $min == xlg {
			@media (min-width: 2001px) { @content; }       // Desktops Large
		}
  }

  @else if $type == number {
    // Allow for custom parameters for min and max size
    $query: "all" !default;
    @if      $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; } // set both min and max
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; } // set just min
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; } // set just max
    @media #{$query} { @content; }
  }
}
