@import '../../commons/commons';

.adbu-footer {
	@include center();
	flex-direction: column;
	color: $white;

	font-size: 1.4em;
	background: url("https://ik.imagekit.io/cdnstorage786/home-header_WMfOfpinc.svg") center fixed;
	@include bp(xs) {
		background: url("https://ik.imagekit.io/cdnstorage786/home-header_WMfOfpinc.svg") center;
	}
	height: 40vh;
	background-size: cover;

	@include bp(xlg) {
		background-color: black;
	}

	&__logo {

		padding: 40px;
	}

	&__description {
		padding: 1em;
	}
	&__copyright {}

}
