@import "../../commons/commons";

.adbu-sidebar {
	position: fixed;
	padding: 0;
	z-index: 10;
	right: -1000px;
	top: 106px;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	background-color: rgba(73, 190, 237, 0.8);
	font-weight: 100;
	transition: all 1s;
	font-size: 0.8em;

	@include bp(xs) {
		font-size: .6em;
		top: 76px;
		background-color: rgba(73, 190, 237, 0.9);
		font-weight: 500;
	}

	&.is-visible {
		right: 0;

		@include bp(xs) {
			width: 100%;

		}
	}
}
